.landing_page
{
	background-image: url("../images/sky.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 18rem;
}
body
{
	font-family: arial;
}
.header-left-text
{
	color: white;
	font-size:0.8em;
}
.header-left-text>span
{
	padding-left: 2rem;
}
.inner-span
{
	padding-left:0.4rem;
}
.header-right-text
{
	color: white;
	font-size:0.8em;
}
.eng
{
	padding-left: 10rem;
}
.chevron
{
	font-size: 0.7em;
}
.header-font-icon
{
	padding-left: 2rem;
}
.vl
{
  border-right: 1px solid grey;
  height: 6px;
  padding-left: 2rem;
}
.navbar-box
{
	background-color: white;
	width: 99%;
	margin-left: 1.8rem;
	padding-bottom: 0.9rem;
}
.navbar-brand
{
	color: #353E73;
	font-size: 2em;
	font-weight: bold;
}
li a
{
	color: #353E73;
	font-size: 0.9em;
	font-weight: bold;
	text-transform: uppercase;
}
li
{
	padding-left: 1rem;
}
.quote
{
	padding-top: 1rem;
	padding-bottom: 0.8rem;
	padding-top: 2rem;
	color: white;
	font-size: 0.8em;
	font-weight: bold;

}
.landing-page-heading
{
	color: white;
	text-align: center;
	font-size: 5em;
	font-weight: bold;
	margin-top: 15%;
}
.landing-page-small
{
	text-align:center;
	color: white;
	font-size: 1em;
	line-height: 0;
}
.landing-page-buttons
{
	text-align: center;
	
}
.btn-text
{
	font-size: 0.9em;
	font-weight: bold;
}
.strategy
{
	background-image: url("../images/call_center.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 18rem;
}
.cont
{
	margin-top:-80px;
}
.finan
{
	padding-top: 4rem;
}

.innov-heading
{
	font-size: 1.2em;
}
.innov-box
{
	padding-left: 4.2rem;
}
.innov-para
{
	padding-right: 25rem;
	padding-top: 1rem;
	word-spacing: 2px;
}
.subscript
{
	font-size: 2em;
}
.percentage
{
	font-size: 2rem;
	font-weight: bold;
}
.num1
{
	padding-left:9.5rem;
}
.num2
{
	padding-left: 7.2rem;
}
.num-text
{
	font-size: 0.9em;
	color: white;
}
.num-text-rest
{
	padding-left: 4.2rem;
}
.num-text-rest-1
{
	padding-left: 6.8rem;
}
.num-text-rest-2
{
	padding-left: 6.1rem;
}
.testimonial-box
{
	padding-bottom: 4.5rem;
	color: #353E73;
}
.testimonial-heading
{
	font-size: 1.8em;
	font-weight:bold;
    
}
.testimonial-para
{
	padding-left: 4rem;
	padding-right: 4rem;
	text-align: center;
	line-height:1.7;
	font-size: 1em;
	letter-spacing: 1px;
    color: #353E73;
}
.star
{
	line-height: 0px;
}
.ceo
{
	font-size: 0.8em;
}
.form-box
{
	background-image: url("../images/sky.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 3rem;
}
.form-box-heading
{
	font-size: 3em;
}
.form-para
{
	color: white;
	font-size: 1em;
	padding-right: 10rem;
	line-height: 1.5;
	word-spacing: 1px;
}
.form-box-text
{
	padding-top: 5rem;
}
.form-box-main-heading
{
	font-size: 0.9em;
	padding:1.2rem 0rem 0rem 2rem;

}
.input-box
{
	padding-left:1.9rem;
	padding-right: 1.9rem;
}
.input-box-inner
{
	padding-top:1.5rem;
	padding-bottom: 1.5rem;
	border-radius: 3px;
	font-size: 0.8em;
}
.select-box
{
	padding: 0.9rem 9.2rem 0.9rem 0.5rem;
	border-radius: 3px;
	font-size: 0.8em;
}
.form-sub-btn
{
	font-size: 0.9em;
	font-weight: bold;
	border-radius: 3px;
	padding-bottom:0.8rem; 
	padding-top:0.8rem;

}
::placeholder {
  color: black !important;  
}
.shadow
{
background:rgba(0,0,0,0.4);

}
.news-heading
{
  color: black;
}
.ad
{
	font-size: 0.9em;
}
.date
{
	font-size: 0.7em;
}
.news-box
{
	padding-bottom: 2.3rem;
	padding-top: 3rem;
}
.logo-box
{
	background-color: #DBDDEC;
}
.logo-1
{
	padding-left: 3.5rem;
	padding-top: 3.5rem;
}
.logo-2
{
	padding-left: 9rem;
    padding-top: 3rem;
}
.logo-3
{
	padding-left: 10rem;
	padding-top: 2.3rem;
}
.logo-4
{
	padding-left: 8rem;
	padding-top: 2.5rem;
}
.logo-5
{
	padding-left: 6.5rem;
	padding-top: 3rem;
}
.footer-box
{
	background-color: #070B2D;
	padding-left: 3rem;
	padding-top: 3rem;
	padding-right: 4rem;
}
.footer-brand
{
	font-size: 1.9em;
	padding-left: 0.5rem;
}
.footer-para
{
	font-size: 0.9em;
	color: #B0B2C2;
	line-height: 1.8;
}
.footer-links
{
	padding-top: 1.5rem;
	font-size: 0.9em;
    color: #B0B2C2;
}
.foot-active
{
		font-size: 0.9em;
		color: #B0B2C2;
}
.footer-link
{
	padding-top: 4.1rem;
}
.footer-recent
{
	font-size: 0.9em;
    color: white;
    color: #B0B2C2;
}
.footer-card
{
  background-color: #070B2D;
  border-style: none;
}
.subs
{
	font-size: 0.9em;
	font-weight: bold;
}
.footer-form-heading
{
	font-size: 0.9em;
}
.footer-form-para
{
	font-size: 0.9em;
    color: #B0B2C2;
    padding-top: 1em;

}
.footer-end
{
	  background-color: #0C103B;
}
.footer-end-text
{
	font-size: 0.9em;
}
.cost
{
	padding-top: 2.6rem;
}
.date-footer
{
	font-size: 0.8em;
}

.footer-face-icon
{
	padding-right:1.2rem;
	padding-left:1.2rem;
}